<!-- From angular view -->

<div class="dashboard summary">
	<div class="dynamicStatistics">
		<div class="item-dynamic">
			<p class="title">Draft Products</p>
			<p class="item-count">33000 <span class="arrow-percent"><i class="fa fa-caret-up percentArrow up"></i>15%</span></p>
		</div>
		<div class="item-dynamic">
			<p class="title">Products on sale</p>
			<p class="item-count">33000 <span class="arrow-percent"><i class="fa fa-caret-up percentArrow up"></i>15%</span></p>
		</div>
		<div class="item-dynamic">
			<p class="title">Products off sale</p>
			<p class="item-count">33000 <span class="arrow-percent"><i class="fa fa-caret-down percentArrow down"></i>15%</span></p>
		</div>
		<div class="item-dynamic">
			<p class="title">Average price</p>
			<p class="item-count">33000 <span class="arrow-percent"><i class="fa fa-caret-up percentArrow up"></i>15%</span></p>
		</div>
		<div class="item-dynamic">
			<p class="title">Discounts on sale</p>
			<p class="item-count">33000 <span class="arrow-percent"><i class="fa fa-caret-down percentArrow down"></i>15%</span></p>
		</div>
		<div class="item-dynamic">
			<p class="title">Average discount</p>
			<p class="item-count">33000 <span class="arrow-percent"><i class="fa fa-caret-up percentArrow up"></i>15%</span></p>
		</div>
	</div>
	<div class="statBlock">
		<highchart id="chart2" config="chartProductClassesConfig" class="circleChart"></highchart>
	</div>
	<div class="statBlock">
    	<highchart id="chart1" config="chartProductTypesConfig"></highchart>
	</div>
	<div class="statBlock">
    	<p>Most Followed Well-known Brands</p>
    	<div class="products-grid grid-list row">
		      <div class="brand brand-item col-sm-3 col-xs-6" bindonce="wellKnownBrand" ng-repeat="wellKnownBrand in wellKnownBrands">
		        <div class="col-xs-6 gridItem-labelGender text-left"><span class="label" bo-class="wellKnownBrand.gender" bo-bind="wellKnownBrand.gender"></span></div>
		        <div class="col-xs-12 brand-logo">
		          <a>
		            <img ng-if="wellKnownBrand.imageMin.id" ng-src="{{::server}}/images/media/{{::wellKnownBrand.imageMin.id}}?limit=true&w=220&h=200" alt="">
		          </a>
		        </div>
		        <p class="col-xs-12 brand-name"><b bo-bind="wellKnownBrand.displayName"></b></p>
		        <p class="col-xs-12" bo-bind="wellKnownBrand.brandsCount+' ('+wellKnownBrand.brandsCount+' %) brands'"></p>
		        <p class="col-xs-12" bo-bind="wellKnownBrand.usersCount+' ('+wellKnownBrand.usersPercentage+' %) followers'"></p>
		      </div>
	  	</div>
	</div>
	<div class="statBlock">
    	<p>Most Followed Brands</p>
    	<div class="products-grid grid-list row">
	      <div class="brand brand-item col-sm-3 col-xs-6" bindonce="brand" ng-repeat="brand in brands">
	        <div class="col-xs-6 gridItem-labelGender text-left"><span class="label" bo-class="brand.gender" bo-bind="brand.gender"></span></div>
	        <div class="col-xs-12 brand-logo">
	          <a>
	          	<img ng-if="brand.imageMin.id" ng-src="{{::server}}/images/media/{{::brand.imageMin.id}}?limit=true&w=220&h=200" alt="">
	          </a>
	        </div>
	        <p class="col-xs-12 brand-name"><b bo-bind="brand.displayName"></b></p>
	        <p class="col-xs-12"><a href="" bo-bind="brand.productsDraftCount+' draft products'"></a></p>
	        <p class="col-xs-12"><a href="" bo-bind="brand.productsPublishedOnSaleCount+' ('+brand.productsPublishedOnSalePercentage+'%) on sale'"></a></p>
	        <p class="col-xs-12" bo-bind="brand.usersCount+' ('+brand.usersPercentage+'%) followers'"></p>
	      </div>
		</div>
	</div>
	<div class="statBlock">
    	<p>Most Followed Male Style Personas</p>
		<div class="products-grid row">
		    <div class="brand productItem brandProduct-grid-item product-item-grid col-xs-2" ng-style="::stylePersona.imageMin.id ? {'background-image':'url({{::server}}/images/media/{{::stylePersona.imageMin.id}}?w=200&max_h=400)'} : ''" bindonce="stylePersona" ng-repeat="stylePersona in stylePersonasMales">
		      <div class="bg-hider"></div>
		      <div class="product-prices">
		        <p class="productPrices-title" bo-bind="stylePersona.displayName"></p>
		        <p bo-bind="stylePersona.countryMin.displayName"></p>
		        <p bo-bind="stylePersona.productsCount+' products ('+stylePersona.productsPercentage+' %)'"></p>
		        <p ng-bind="stylePersona.usersCount+' followers ('+stylePersona.usersPercentage+'%)'"></p>
		      </div>
		      <div class="productItem-addInfo">
		        <p><label class="label" bo-class="stylePersona.gender" bo-bind="stylePersona.gender"></label></p>
		        <td class="list-item"><span class="label" bo-class="stylePersona.status" bo-bind="stylePersona.status"></span></td>
		        <div class="productItem-addInfo-image">
		          <a href="/#/" target="_blank">
		            <img ng-src="theme/images/icons/web.png" alt="">
		          </a>
		        </div>
		      </div>
		    </div>
	  	</div>
	</div>
	<div class="statBlock">
    	<p>Most Followed Female Style Personas</p>
		<div class="products-grid row">
		    <div class="brand productItem brandProduct-grid-item product-item-grid col-xs-2" ng-style="::stylePersona.imageMin.id ? {'background-image':'url({{::server}}/images/media/{{::stylePersona.imageMin.id}}?w=200&max_h=400)'} : ''" bindonce="stylePersona" ng-repeat="stylePersona in stylePersonasFemales">
		      <div class="bg-hider"></div>
		      <div class="product-prices">
		        <p class="productPrices-title" bo-bind="stylePersona.displayName"></p>
		        <p bo-bind="stylePersona.countryMin.displayName"></p>
		        <p bo-bind="stylePersona.productsCount+' products ('+stylePersona.productsPercentage+' %)'"></p>
		        <p ng-bind="stylePersona.usersCount+' followers ('+stylePersona.usersPercentage+'%)'"></p>
		      </div>
		      <div class="productItem-addInfo">
		        <p><label class="label" bo-class="stylePersona.gender" bo-bind="stylePersona.gender"></label></p>
		        <td class="list-item"><span class="label" bo-class="stylePersona.status" bo-bind="stylePersona.status"></span></td>
		        <div class="productItem-addInfo-image">
		          <a href="/#/" target="_blank">
		            <img ng-src="theme/images/icons/web.png" alt="">
		          </a>
		        </div>
		      </div>
		    </div>
	  	</div>
	</div>
	<div class="statBlock">
    	<highchart id="chart11" config="chartProductTypesConfig"></highchart>
	</div>
	<div class="statBlock">
    	<highchart id="chart111" config="oneParamColumnConfig"></highchart>
	</div>
	<div class="content-wrapper">
		
	</div>
</div>