<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Advocado - Add New Outlet</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
  </head>

  <body class="content-cashier-login">
    <div class="main-content">
      <div class="container">

        <div class="row text-center logo-content">
          <a href=""><img src="images/logo-name-content.png" alt=""></a>
          <h3>One account. All loyalty programs in Asia.</h3>
        </div>
        
        
          <div class="row form-user-register">
            <form id="form-user-register" action="" method="POST" enctype="multipart/form-data">
              <div class="row form-verification">
                  <div class="col-sm-10 col-center-block">
                    <div class="box round shadow">

                        <div class="row">
                          <div class="col-xs-12 form-group text-center title"><h3>Complete the registration</h3></div>

                          <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                              <a class="btn btn-block btn-social btn-lg btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);"><i class="fa fa-facebook"></i>Sign up with Facebook</a>
                            </div>
                          </div>
                          <div>
                            <div class="col-xs-5 text-right"><hr></div>
                            <div class="col-xs-2 text-center devision-or">or</div>
                            <div class="col-xs-5 text-left"><hr></div>
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="user-register-first-name">First name *</label>
                            <input type="text" class="form-control" id="user-register-first-name" />
                          </div>

                          <div class="form-group col-sm-6">
                            <label for="user-register-last-name">Last name *</label>
                            <input type="text" class="form-control" id="user-register-last-name" />
                          </div>

                          <div class="form-group">
                            <label for="user-register-email">Email Address *</label>
                            <input type="text" class="form-control" id="user-register-email" />
                          </div>

                          <div class="form-group">
                            <label for="user-register-password">Password *</label>
                            <input type="password" class="form-control" id="user-register-password" />
                          </div>

                          <div class="form-group">
                            <label for="user-register-password-confirm">Confirm Password *</label>
                            <input type="password" class="form-control" id="user-register-password-confirm" />
                          </div>

                          <div class="form-group col-sm-6">
                            <label for="user-register-postal-code">SG Postal Code *</label>
                            <input type="text" class="form-control" id="user-register-postal-code" />
                          </div>

                          <div class="form-group col-sm-12">
                            <label for="outlet-logo">Upload Profile Image</label>
                            <div class="input-group">
                              <div class="input-group-btn">
                                <span class="btn btn-file">
                                  Choose File <input type="file" value="Choose File">
                                </span>
                              </div>

                              <input type="text" class="form-control" id="user-register-image" />

                              <div class="input-group-btn">
                                <button class="btn btn-file-upload" type="button">Upload</button>
                              </div>
                            </div>
                          </div>

                          <div class="form-group col-sm-12 gender-group">
                            <p class="label-input">Gender</p>                            
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="user-register-gender" value="Male" />Male
                                </label> 
                                <label class="btn btn-default">
                                    <input type="radio" name="user-register-gender" value="Female" />Female
                                </label> 
                                <label class="btn btn-default">
                                    <input type="radio" name="user-register-gender" value="Private" />Private
                                </label>
                            </div>
                          </div>
                          <div class="col-sm-12 birth-group">
                            <p class="label-input">Date of Birth</p>
                            <div class="form-group col-sm-2">
                              <input type="text" placeholder="DD" maxlength="2" class="form-control text-center" id="user-register-dd" />
                            </div>
                            <div class="form-group col-sm-2">
                              <input type="text" placeholder="MM" maxlength="2" class="form-control text-center" id="user-register-mm" />
                            </div>
                            <div class="form-group col-sm-3">
                              <input type="text" placeholder="YYYY" maxlength="4" class="form-control text-center" id="user-register-yyyy" />
                            </div>
                            <div class="form-group col-sm-3 text-center eg">
                              <p>e.g. 19-12-1989</p>
                            </div>
                          </div>
                          <div class="col-xs-12 form-group text-center">
                            <button type="submit" class="btn btn-submit form-control">Create</button>
                          </div>
                        </div>


                    </div>
                  </div>
              </div>
            </form>
          </div>
      </div>
    </div>
    <footer class="footer-in-bottom">
      <div class="container">
        <p class="text-muted text-center">&#064; 2015 Copyright by Advocado Pte Ltd. All rights reserved.</p>
      </div>
    </footer>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    

  </body>
</html>